@keyframes pan-in {
    0% {
        visibility: visible;
        opacity: 0;
        margin-top: 80px;
        margin-left: 20px;
        transform: rotate(-7deg);
        transform: skewY(-10deg);
        transform: skewX(10deg);

    }

    100% {
        display: block;
        opacity: 1;
        margin-top: 0px;
        margin-left: 0px;
        transform: rotate(0deg);
        transform: skewY(0);
        transform: skewX(0deg);



    }

}


@keyframes top-stroke-engage {
    0% {
        transform: rotate(0deg);
        top: 3px;
    }

    100% {
        transform: rotate(45deg);
        top: 1px;
    }
}

@keyframes bottom-stroke-engage {
    0% {
        transform: rotate(0deg);
        top: 0px;
    }

    100% {
        transform: rotate(-45deg);
        top: -1px;
    }
}



@keyframes fade-in {
    0% {opacity: 0; margin-top: 50px;}
    100% {opacity: 1; margin-top: 0px;}
}




@keyframes scroll-down {
    from {margin-top: 30px; opacity: 0;}
    to {margin-top: 0px; opacity: 1;}
}


@keyframes slide-up {
    0% {
        visibility: visible;
        opacity: 0;
        position: relative;
        margin-top: 30px;
        transform: skewY(-5deg);
        transform: skewX(5deg);

    }

    100% {
        opacity: 1;
        position: relative;
        margin-top: 0px;
        transform: skewY(0);
        transform: skewX(0deg);



    }

}




@keyframes slide-from-right {
    0% {
        visibility: visible;
        opacity: 0;
        position: relative;
        margin-top: 100px;
        margin-left: 100px;
        transform: rotate(-7deg);
        transform: skewY(-10deg);
        transform: skewX(10deg);

    }

    100% {
        opacity: 1;
        position: relative;
        margin-top: 0px;
        margin-left: 0px;
        transform: rotate(0deg);
        transform: skewY(0);
        transform: skewX(0deg);



    }

}


@keyframes expand-left-to-right {
    0% {
        width: 0vw;

    }

    100% {
        width: 100vw;
    }

}


@keyframes expand-right-to-left {
    0% {
        display: block;
        left: 100vw;

    }

    100% {
        display: block;
        left: 0vw;
    }

}


@keyframes exit-left-to-right {
    0% {
        left: 0vw;

    }

    100% {
        display: none;
        left: 100vw;
    }

}



@keyframes slideDown {
    0% {
         transform: translateY(-80px);
    }
    100% {
        transform: translateY(0px);
    }
  }


@keyframes slideBackUp {
    0% {
        transform: translateY(0px);
   }
   100% {
       transform: translateY(-80px);
   }
}






.nav-slideDown {
    animation: slideDown .3s cubic-bezier(.49,.01,0,1);
}


.nav-slideBackup {
    animation: slideBackUp .8s ease-out;
}




@font-face {
    font-family: 'Avenir-Medium';
    src: url('Avenir-Medium.ttf')format('truetype');
}


@font-face {
    font-family: 'Avenir-Book';
    src: url('Avenir-Book.ttf')format('truetype');
}


@font-face {
    font-family: 'Avenir-Light';
    src: url('Avenir-Light.ttf')format('truetype');
}



* {
    margin: 0;
    padding: 0;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
}

body {
    overflow-x: hidden;
}




.container {
    width: 1170px;
    margin: auto;
    height: 100%;
}

p {
    font-size: 11.5pt;
}


a {
    color: white;
    text-decoration: none;
    z-index: 1000 !important;
}

nav {
    padding-top: 3em;
    z-index: 1000 !important;
}


.nav ul li {
    display: inline-block;
    padding-right: 4em;
    z-index: 1000 !important;
}


.right {
    position: relative;
    float: right;
    z-index: 100;
}


.ul-links {
    font-family: "Avenir-Light";
}


.btn {
    font-family: "Avenir-Book";
}


.left {
    display: inline-block;
    font-weight: 500;
    font-size: 13pt;
}


.mobile-fixed {
    display: none;
}


.nav-bg {
    position: fixed;
    z-index: 999;
    background: white;
    box-shadow: 0px 4px 6px rgba(0,0,0, 0.08);
    top: 0;
    left: 0;
    width: 100vw;
    height: 5em;
    display: none;
}

.nav-bg ul {
    animation: none;
}


.header-logo {
    width: 25px;
    margin-right: 1em;
    vertical-align: middle;
}





.nav-bg ul li a {
    color: black;

}


.left a {
    font-family: "Avenir-Medium";
}

#logo-text {
    position: relative;
    top: 2px;
    font-weight: 200;
    font-family: "Avenir-Medium";
}

.nav-bg ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}



.mobile-menu {
    display: none;
}

.mobile-menu ul {
    display: none;
}


.header {
    width: 100vw;
    height: 740px;
    background: linear-gradient(300deg, #00E1FF, #473CC6);
}


.header .text {
    visibility: hidden;
    position: relative;
    margin: auto;
    top: 170px;
    color: white;
    text-align: center;
    animation: pan-in 2s cubic-bezier(.49,.01,0,1);

}

.header .text h1 {
    margin: auto;
    text-align: center;
    font-size: 28pt;
    font-weight: 500;
    padding-bottom: 0.2em;
    font-family: "Avenir-Medium";
}


.header .text p {
    margin: auto;
    width: 480px;
    line-height: 2;
    padding-top: 1em;
    font-weight: 400;
    font-size: 13pt;
    font-family: "Avenir-Book";

}


#header-tiles {
    height: 1500px;
    position: absolute;
    right: -450px;
    top: -300px;
    z-index: 0;
}



#scrolldown {
    visibility: hidden;
    height: 120px;
    position: absolute;
    top: 65%;
    transition: all 0.4s ease-in-out;
}


#scrolldown:hover {
    cursor: pointer;
    margin-top: 1em;
}


.ul-links {
    position: relative;
    padding-bottom: 3px;

}


.ul-links:hover {
    border-bottom: 1px solid white;


}


.btn {
    background: #30E5D4;
    padding: 0.8em 2.2em;
    text-align: center;
    border-radius: 3px;
    color: white !important;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.08);
    transition: all 0.4s cubic-bezier(.47,1.64,.41,.8);
    z-index: 1000 !important;
}


.btn:hover {
    box-shadow: 0px 25px 40px rgba(0,0,0,0.10);
    background: white;
    color: #514A9D !important;
}



.text .hollow-btn {
    position: relative;
    display: block;
    margin: auto;
    width: 100px;
    padding: 0.6em 2em;
    margin-top: 3em;
    text-align: center;
    color: white;
    border: 1px white solid;
    overflow:hidden;
    background: none;
    z-index: 1 !important;
    cursor: pointer;
    font-family: "Avenir-Book";
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;

}


.hollow-btn:before {
    content: "";
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
}

.hollow-btn:hover {
    color: #514A9D;
  }

.hollow-btn:hover:before {
top: 0;
}



.v-line-center {
    border: 0.5px solid rgba(0,0,0, 0.2);
    width: 0;
    margin: auto;
}

.about-us .blurb {
    width: 70%;
    margin: auto;
    margin-top: 7em;
}


.about-us .blurb h2 {
    font-weight: 500;
    color: #4e4e4e;
    font-size: 20pt;
    padding-bottom: 1em;
    text-align: center;
    font-family: "Avenir-Medium";
}


.about-us .blurb p {
    margin: auto;
    margin-top: 3em;
    font-size: 11.5pt;
    text-align: center;
    width: 600px;
    padding-bottom: 1.5em;
    font-family: "Avenir-Book";
}



.about-us .vision {
    width: 100%;
    box-shadow: 0px 20px 45px rgba(0,0,0,0.08);
    text-align: center;
    margin-top: 3.5em;
}

.about-us .vision h2 {
    font-weight: 500;
    color: #4e4e4e;
    font-size: 22pt;
    padding-bottom: 1em;
    text-align: center;
    padding-top: 2em;
    font-family: "Avenir-Medium";
}


.about-us .vision p {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: 200;
    line-height: 2.7;
    font-size: 16pt;
    width: 85%;
    margin: auto;
    padding-bottom: 3em;
    opacity: 0.77;
}




.about-us .services {
    width: 70%;
    margin: auto;
    margin-top: 7em;
}


.about-us .services h2 {
    font-weight: 500;
    color: #4e4e4e;
    font-size: 22pt;
    padding-bottom: 1em;
    text-align: center;
    font-family: "Avenir-Medium";
}


.about-us .services p {
    margin: auto;
    font-size: 11.5pt;
    text-align: center;
    width: 600px;
    padding-bottom: 1.5em;
    font-family: "Avenir-Book";
}


.service-points {
    margin-top: 5em;
    width: 100vw;
    height: 900px;
    overflow: hidden;
}


.services-bg {
    width: 102%;
    height: 110%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url('assets/images/office.jpg');
    z-index: -2;
    padding-top: 6em;
}



.service-points .wrapper {
    width: 870px;
    height: 740px;
    margin: auto;
    display: flex;
    z-index: 9999;
    justify-content: space-between;
    flex-wrap: wrap;
}


.tiles {
    width: 410px;
    height: 340px;
    background: white;
    border-radius: 7px;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.10);

}



.tiles img {
    width: 80px;
    margin: auto;
    display: block;
    margin-top: 3em;
}


.tiles .text {
    width: 80%;
    margin: auto;
    text-align: center;
    line-height: 2;
    margin-top: 2em;

}


.tiles .text h3 {
    font-weight: 500;
    color: #4e4e4e;
    font-size: 13.5pt;
    padding-bottom: 1.5em;
    text-align: center;
    font-family: "Avenir-Medium";
}


.tiles .text p {
    font-family: "Avenir-Book";
}


.startup-help {
    margin-top: 9em;
}

.startup-help .left-text {
    width: 600px;
}


.startup-help .left-text h2 {
    font-weight: 500;
    color: #4e4e4e;
    font-size: 22pt;
    padding-bottom: 1em;
    font-family: "Avenir-Medium";
}


.startup-help p {
    font-family: "Avenir-Book";
}


.startup-help .text-wrapper {
    width: 100%;
    height: 300px;
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.startup-help .text-wrapper .trio {
    width: 280px;
    padding-top: 3em;
}


.trio h3 {
    font-weight: 500;
    color: #4e4e4e;
    font-size: 16.5pt;
    padding-bottom: 1.5em;
    font-family: "Avenir-Medium";
}


.insights {
    margin-top: 6em;
    width: 100vw;
    height: 440px;
    background: #EFEFEF;
}


.insights .wrapper h2 {
    text-align: center;
    padding-top: 4em;
    font-weight: 500;
    color: #4e4e4e;
    font-size: 22pt;
    padding-bottom: 1em;
    font-family: "Avenir-Medium";
}


.insights .logo-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 4em;
    flex-wrap: wrap;
}


.logo-container img {
    height: 49px;
    width: auto;
}



.team {
    margin-top: 6em;
}



.team h2 {
    text-align: center;
    font-weight: 500;
    color: #4e4e4e;
    font-size: 22pt;
    padding-bottom: 3em;
    font-family: "Avenir-Medium";
}


.team-wrapper {
    width: 100%;
    height: 300px;
    margin: auto;
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.team-wrapper .trio {
    width: 370px;
    text-align: center;
    margin-bottom: 7em;
}


.team-wrapper .trio h3 {
    font-size: 16pt;
    padding-bottom: 1em;
    font-family: "Avenir-Medium";
}

.team-wrapper .trio .photo {
    width: 110px;
    height: 110px;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}


.team-wrapper .trio p {
    font-family: "Avenir-Book";
}


.tommi {
    background-image: url('assets/images/tommi.jpg');
}

.dylan {
    background-image: url('assets/images/dylan.png');
}


.josh {
    background-image: url('assets/images/joshua.jpg');
}

.zach {
    background-image: url('assets/images/zach.jpg');
}







footer {
    position: relative;
    top: 400px;
    width: 100vw;
    height: 470px;
    overflow: hidden;
    background: linear-gradient(315deg, #3995A2, #514A9D);
}

footer .container {
    display: flex;
    justify-content: space-between;
}


footer .footer-links {
    height: 80%;
    width: 15%;
    position: relative;
    top: 10%;
    display: inline-block;
}



.footer-links li {
    line-height: 5.2;
    list-style: none;
    transition: all 0.2s ease-in-out;
    font-family: "Avenir-Book";
}


.footer-links li:hover {
    padding-left: 0.6em;
}


footer .contact-center {
    position: relative;
    top: 10%;
    width: 70%;
    height: 80%;
}


.contact-center h1 {
    margin: auto;
    text-align: center;
    margin-top: 1.2em;
    font-size: 22pt;
    font-weight: 500;
    color: white;
    font-family: "Avenir-Medium";
}


.contact-center .hollow-btn {
    position: relative;
    width: 150px;
    display: block;
    margin: auto;
    width: 80px;
    padding: 0.6em 2em;
    margin-top: 2em;
    text-align: center;
    color: white;
    border: 1px white solid;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}


#back-to-top {
    background: #30E5D4;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    border: none;
    display: block;
    margin: auto;
    position: relative;
    top: 70px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.10);
    color: white;
    transition: all 0.2s ease-in-out;
}


#back-to-top:hover {
    box-shadow: 0px 25px 35px rgba(0,0,0,0.16);
}

#back-to-top:focus {
    outline: none;
}

.hollow-btn:before {
    content: "";
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
}

.hollow-btn:hover {
    color: #514A9D;
  }

  .hollow-btn:hover:before {
    top: 0;
  }


footer .social-footer {
    position: relative;
    top: 10%;
    height: 80%;
    width: 15%;
    display: inline-block;
}


.social-footer ul {
    text-align: right;

}

.social-footer li {
    line-height: 5.2;
    list-style: none;
    transition: all 0.2s ease-in-out;
}


.social-footer li:hover {
    padding-right: 0.6em;
}


.footer-info {
    width: 1170px;
    padding-bottom: 1em;
    display: block;
    position: absolute;
    bottom: 0;
    margin: auto;
    text-align: left;
    color: white;
    font-size: 9pt;
    padding-bottom: 2em;
}








@media screen and (max-width: 667px) {

        p {
            font-size: 1rem !important;
        }

        body {
            width: 100vw !important;
            overflow-x: hidden !important;
        }

        .container {
            width: 83vw;
        }

        .desktop-fixed {
            display: none;
        }

        .mobile-fixed {
            display: block;
            z-index: 9999 !important;
        }


        #header-tiles {
            display: none;
        }

        .header-logo {
            width: 25px;
        }




        .nav {
            z-index: 9999 !important;
            width: 100%;
         }

        .nav-bg {
            z-index: 999 !important;
            background: white;
            box-shadow: 0px 7px 9px rgba(0,0,0, 0.14);
            top: 0;
            left: 0;
            width: 100vw;
            height: 80px;
            display: none;
        }

        .nav .burger {
          display: block !important;
          float: right;
          margin-top: 20px;
          width: 35px;
          height: auto;
          z-index: 9999 !important;
        }

        .mobile-menu {
            display: none;
            background:#4C58A4;
            height: 110vh;
            width: 100vw;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 900 !important;
        }

        .mobile-menu ul {
          display: block;
          font-size: 2rem;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          padding: 1.5em;
          list-style: none;
        }

        .mobile-menu-bg {
            position: absolute;
            opacity: 0.26;
            height: 200vh;
            top: -40vh;
            left: -60vw;
        }

        .mobile-menu ul li {
            line-height: 4;
            font-weight: 500;
            font-family: "Avenir-Medium" !important;
        }



        #top {
            width: 27px;
            height: 2px;
            background: white;
            right: 0;


        }

        #bot {
            position: relative;
            top: 13px;
            width: 27px;
            height: 2px;
            background: white;


        }


        .header {
            height: 650px;
        }


        .nav .right {
            display: none;
        }

        .nav {
            padding-top: 1em;
        }

        .nav .left li {
          font-size: 1.3rem;
          padding-top: 10px;
        }

        .mobile-fixed .left li {

        }


        .mobile-fixed .burger {
            padding-top: 20px;
        }


        .header .text {
            width: 100%;
            position: relative;
            top: 150px;
        }

        .header .text h1 {
          font-size: 1.6rem;
          padding-bottom: 0.5em;
          font-weight: 500;

        }



        .header .text p {
            width: 90%;
            font-size: 1rem;
        }


        .header .text .hollow-btn {
            width: 35% !important;
            font-size: 1rem;
            border: 1.2px solid white;
        }

        #scrolldown {
            display: none;
        }


        .btn {
            margin-top: 0 !important;
            width: 60% !important;
            font-size: 1rem;
        }


        .blurb {
            width: 100% !important;
        }


        .blurb h2 {
            font-size: 1.4rem !important;
            width: 100% !important;

        }



        .blurb p {
            width: 100% !important;
            font-size: 1rem;
        }


        .blurb hr {
            height: 100px;
        }


        .vision h2 {
            font-size: 1.5rem !important;
            width: 100%;
        }


        .about-us .services {
            width: 100%;
            margin-top: 5em;
        }



        .services h2 {
            font-size: 1.5rem !important;
        }


        .services p {
            margin: auto !important;
            width: 100% !important;
        }

        .services hr {
            height: 100px;
        }



        .service-points {
            display: flex;
            flex-wrap: wrap;
            height: 1600px !important;
            justify-content: space-between;

        }

        .service-points .wrapper {
          width: 90vw;
        }


        .services-bg {
          padding-top: 2em;
        }


        .service-points .tiles {
            width: 95%;
            margin: auto;
            margin-top: 20px;
            height: 360px;

        }


        .service-points .tiles h3 {
            font-size: 1.3rem;
        }


        .service-points img {
            width: 80px;
            margin-top: 2.5em;
        }


        .startup-help {
            height: 1000px;
            margin-top: 90px;
        }


        .startup-help h2 {
            font-size: 1.5rem !important;

        }


        .startup-help .left-text {
            width: 100% !important;

        }



        .startup-help .text-wrapper {
          height: auto;
          margin-top: 0;
        }



        .trio {
            width: 100% !important;
        }



        .trio h3 {
            font-size: 1.3rem !important;
        }



        .insights {
            height: 700px;
        }


        .insights h2 {
            font-size: 1.5rem !important;
        }



        .logo-container {
            flex-wrap: wrap;
            justify-content: space-around !important;
            height: 400px;
            margin-top: 0 !important;
            width: 100% !important;

        }


        .logo-container img {
            height: 50px !important;
            padding: 3em;
        }



        .team {
            height: 1180px;
        }



        .team h2 {
            font-size: 1.7rem;
            padding-bottom: 1em;
        }


       .photo {
           width: 120px !important;
           height: 120px !important;
       }

       .footer-links {
           display: none !important;
       }

       .social-footer {
           top: 0 !important;
           display: block !important;
           justify-content: space-between;
           width: 100% !important;

       }


       .contact-center {
           width: 100% !important;
           display: block !important;
           height: 380px !important;
           padding-top: 2em;
       }

       .contact-center h1 {
           font-size: 1.5rem !important;
       }

       .contact-center .hollow-btn {
           width: 35% !important;
           border: 1.5px solid white;
           font-size: 1.2rem !important;
       }

       #back-to-top {
           width: 60px;
           height: 60px;
       }


       #back-to-top img {
           width: 18px;
       }


       .social-footer li img {
           display: inline;
           height: 25px !important;
           width: auto;
       }

       footer {
           height: 520px;
           top: 380px !important;
       }

       footer .container {
         height: auto !important;
           display: block !important;
       }


       .social-footer ul {
         padding-top: 1.5em;
           text-align: center;
           display: flex;
           justify-content: space-around;
           height: 40px;
       }

    }




@media screen and (min-width: 1800px) {


    .header .text {
        position: relative;
        top: 28vh;
        color: white;

    }

    .header {
        height: 1200px;
    }




    #header-tiles {
        height: 2500px;
        right: -600px;
        top: -490px;
        z-index: 0;

    }
}
