@keyframes pan-in {
    0% {
        visibility: visible;
        opacity: 0;
        margin-top: 80px;
        margin-left: 20px;
        transform: rotate(-7deg);
        transform: skewY(-10deg);
        transform: skewX(10deg);

    }

    100% {
        display: block;
        opacity: 1;
        margin-top: 0px;
        margin-left: 0px;
        transform: rotate(0deg);
        transform: skewY(0);
        transform: skewX(0deg);



    }

}



@keyframes send-off {
    from {
        position: relative;
        left: 0px;
        opacity: 1;
        visibility: visible;
    }

    to {
        position: relative;
        left: 120px;
        opacity: 0;
    }

}


@keyframes send-off-faded {
    from {
        position: relative;
        left: 0px;
        opacity: 0.3;
        visibility: visible;
    }

    to {
        position: relative;
        left: 130px;
        opacity: 0;
    }

}



@keyframes pan-in-faded {
    0% {
        visibility: visible;
        opacity: 0;
        position: relative;
        top: 80px;
        left: 20px;
        transform: rotate(-7deg);
        transform: skewY(-10deg);
        transform: skewX(10deg);

    }

    100% {
        display: block;
        opacity: 0.3;
        position: relative;
        top: 0px;
        left: 0px;
        transform: rotate(0deg);
        transform: skewY(0);
        transform: skewX(0deg);



    }

}


@keyframes pan-out {
    0% {
        visibility: visible;
        opacity: 0;
        position: relative;
        top: 0px;
        left: 0px;
        transform: rotate(0deg);
        transform: skewY(0deg);
        transform: skewX(0deg);

    }

    100% {
        display: block;
        opacity: 1;
        position: relative;
        top: -80px;
        left: -20px;
        transform: rotate(7deg);
        transform: skewY(10deg);
        transform: skewX(-10deg);



    }
}


@keyframes scroll-down {
    from {margin-top: 30px; opacity: 0;}
    to {margin-top: 0px; opacity: 1;}
}


@keyframes slide-up {
    0% {
        visibility: visible;
        opacity: 0;
        position: relative;
        top: 30px;
        transform: skewY(-5deg);
        transform: skewX(5deg);

    }

    100% {
        opacity: 1;
        position: relative;
        top: 0px;
        transform: skewY(0);
        transform: skewX(0deg);



    }

}

@keyframes expand-right-to-left {
    0% {
        display: block;
        left: 100vw;

    }

    100% {
        display: block;
        left: 0vw;
    }

}


@keyframes exit-left-to-right {
    0% {
        left: 0vw;

    }

    100% {
        display: none;
        left: 100vw;
    }

}


@keyframes top-stroke-engage {
    0% {
        transform: rotate(0deg);
        top: 3px;
    }

    100% {
        transform: rotate(45deg);
        top: 1px;
    }
}

@keyframes bottom-stroke-engage {
    0% {
        transform: rotate(0deg);
        top: 0px;
    }

    100% {
        transform: rotate(-45deg);
        top: -1px;
    }
}


@keyframes slide-from-right {
    0% {
        visibility: visible;
        opacity: 0;
        position: relative;
        margin-top: 100px;
        margin-left: 100px;
        transform: rotate(-7deg);
        transform: skewY(-10deg);
        transform: skewX(10deg);

    }

    100% {
        opacity: 1;
        position: relative;
        margin-top: 0px;
        margin-left: 0px;
        transform: rotate(0deg);
        transform: skewY(0);
        transform: skewX(0deg);



    }

}




@font-face {
    font-family: 'Avenir-Medium';
    src: url('Avenir-Medium.ttf')format('truetype');
}


@font-face {
    font-family: 'Avenir-Book';
    src: url('Avenir-Book.ttf')format('truetype');
}


@font-face {
    font-family: 'Avenir-Light';
    src: url('Avenir-Light.ttf')format('truetype');
}



body {
    background: linear-gradient(300deg, #00E1FF, #473CC6);
}


.mobile-fixed {
    display: none;
}


.nav-bg {
    position: fixed;
    z-index: 999;
    background: white;
    box-shadow: 0px 4px 6px rgba(0,0,0, 0.08);
    top: 0;
    left: 0;
    width: 100vw;
    height: 5em;
    display: none;
}

.nav-bg ul {
    animation: none;
}


.header-logo {
    width: 25px;
    margin-right: 1em;
    vertical-align: middle;
}


  input::-webkit-input-placeholder {
      color: white;

  }

  a:link {
    color: white;
  }


  html {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }


  * {
    margin: 0;
    padding: 0;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
}

.nav-bg ul li a {
    color: black;

}

#logo-text {
    position: relative;
    top: 2px;
    font-weight: 500;
}

.nav-bg ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}



.mobile-menu {
    display: none;
}


.hollow-btn {
    position: relative;
    max-width: 100px;
    padding: 0.8em 3em;
    text-align: center;
    color: white;
    border: 1px white solid;
    overflow:hidden;
    background: none;
    z-index: 1;
    font-family: "Avenir-Book";
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.hollow-btn:before {
    content: "";
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
}

.hollow-btn:hover {
    color: #514A9D;
  }

  .hollow-btn:hover:before {
    top: 0;
  }



.container {
    width: 1170px;
    margin: auto;
    height: 100%;
}



p {
    font-size: 11.5pt;
    font-family: "Avenir-Book";
}


a {
    color: white;
    text-decoration: none;
    z-index: 1000;
    font-family: "Avenir-Light";
}

nav {
    padding-top: 3em;
    z-index: 1000 !important;
}


.nav ul li {
    display: inline-block;
    padding-right: 4em;
    z-index: 1000 !important;
}



.header {
    width: 100vw;
    height: 100vh;
    background-size: 150%;
    z-index: -2;
}

#header-tiles {
    height: 200vh;
    position: absolute;
    right: -450px;
    top: -300px;
    z-index: 0;
}

#header-iphones {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 650px;
}


.right {
    position: relative;
    float: right;
    z-index: 100;
}



.left {
    display: inline-block;
    font-weight: 500;
    font-size: 13pt;
}


.left a {
    font-family: "Avenir-Medium";
}



.ul-links {
    position: relative;
    padding-bottom: 3px;
    font-family: "Avenir-Light";

}


.ul-links:hover {
    border-bottom: 1px solid white;


}


.btn {
    background: #30E5D4;
    padding: 0.8em 2.2em;
    border-radius: 3px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.08);
    transition: all 0.2s ease-in-out;
    z-index: 1000 !important;
    font-family: "Avenir-Book";
}


.btn:hover {
    box-shadow: 0px 25px 40px rgba(0,0,0,0.10);
    background: white;
    color: #514A9D;
}


.inputs {
    width: 100%;
    height: 300px;
    position: relative;
    top: 50%;
    transform: translateY(-70%);

}


.controls {
    width: 100%;
    height: 50px;
    padding-top: 1em;
    position: relative;
    top: 100px;
}



.inputs h2 {
    font-family: "Avenir-Medium";
}


.inputs .one h2 {
    font-size: 30pt;
    font-weight: 500;
    color: white;
    animation: pan-in 2s cubic-bezier(0.19, 1, 0.22, 1);
    font-family: "Avenir-Medium";
    animation-delay: 0.4s;
    visibility: hidden;
}


.line-input {
    font-family: "Avenir-Book" !important;
}


  .one .line-input {
    width: auto;
    font-size: 26pt;
    font-weight: 400;
    display: block;
    background: none;
    border: none;
    color: white;
    opacity: 0.3;
    animation: pan-in-faded 2s cubic-bezier(0.19, 1, 0.22, 1);
    animation-delay: 0.4s;
    visibility: hidden;
    font-family: "Avenir-Medium";

  }


  #next1 {
    animation: slide-up 2s cubic-bezier(0.19, 1, 0.22, 1);
    animation-delay: 0.4s;
    visibility: hidden;
  }

  .line-input:focus, .line-input:active {
      outline: none;
  }


  .two h2 {
    font-size: 30pt;
    font-weight: 500;
    color: white;
    visibility: hidden;
  }

  .two .line-input {
    width: auto;
    font-size: 26pt;
    font-weight: 400;
    display: block;
    background: none;
    border: none;
    color: white;
    opacity: 0.3;
    visibility: hidden;
  }


  .company-controls {
      visibility: hidden;
  }



  .three h2 {
    font-size: 30pt;
    font-weight: 500;
    color: white;
    visibility: hidden;
  }

  .three .line-input {
    width: 700px;
    font-size: 26pt;
    font-weight: 400;
    display: block;
    background: none;
    border: none;
    color: white;
    opacity: 0.3;
    visibility: hidden;
  }


  .email-controls {
    visibility: hidden;
}

.four h2 {
    font-size: 30pt;
    font-weight: 500;
    color: white;
    visibility: hidden;
  }

  .four .line-input {
    width: auto;
    font-size: 26pt;
    font-weight: 400;
    display: block;
    background: none;
    border: none;
    color: white;
    opacity: 0.3;
    visibility: hidden;
    border-bottom: 1px solid white;
  }


  .budget-controls {
    visibility: hidden;
}



.five h2 {
    font-size: 30pt;
    font-weight: 500;
    color: white;
    visibility: hidden;
  }

  .five .line-input {
    width: 600px;
    font-size: 26pt;
    font-weight: 400;
    display: block;
    background: none;
    border: none;
    color: white;
    opacity: 0.3;
    visibility: hidden;
  }


  .about-controls {
    visibility: hidden;
}


.sent h2 {
    font-size: 30pt;
    font-weight: 500;
    color: white;
    visibility: hidden;
  }

  .sent p {
    font-size: 16pt;
    font-weight: 400;
    display: block;
    background: none;
    border: none;
    color: white;
    visibility: hidden;
  }


  .sent-controls {
    visibility: hidden;
  }




    #null-prompt {
        color: white;
        font-style: italic;
        display: inline-block;
        margin-left: 2em;
        display: none;
    }










  @media screen and (max-width: 667px) {

    p {
        font-size: 1rem !important;
    }

    body {
        font-size: 1rem !important;
        overflow-x: hidden !important;
    }

    .container {
        width: 83vw;
    }

    .desktop-fixed {
        display: none;
    }

    .mobile-fixed {
        display: block;
        z-index: 9999 !important;
    }


    #header-tiles {
        display: none;
    }

    .header-logo {
        width: 25px;
    }


    .nav {
        z-index: 9999 !important;
        width: 100%;
     }

    .nav-bg {
        z-index: 999 !important;
        background: white;
        box-shadow: 0px 7px 9px rgba(0,0,0, 0.14);
        top: 0;
        left: 0;
        width: 100vw;
        height: 80px;
        display: none;
    }

    .nav .burger {
      display: block !important;
      float: right;
      margin-top: 20px;
      width: 35px;
      height: auto;
      z-index: 9999 !important;
    }

    .mobile-menu {
        display: none;
        background:#4C58A4;
        height: 110vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 900 !important;
    }

    .mobile-menu ul {
        display: block;
        font-size: 2rem;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: 1.5em;
        list-style: none;
    }

    .mobile-menu-bg {
        position: absolute;
        opacity: 0.26;
        height: 200vh;
        top: -40vh;
        left: -60vw;
    }

    .mobile-menu ul li {
        line-height: 4;
        font-weight: 500;
        font-family: "Avenir-Medium" !important;
    }



    #top {
        width: 27px;
        height: 2px;
        background: white;
        right: 0;

    }

    #bot {
        position: relative;
        top: 13px;
        width: 27px;
        height: 2px;
        background: white;

    }


    .header {
        height: 650px;
    }


    .nav .right {
        display: none;
    }


    .nav {
        padding-top: 1em;
    }


    .nav .left li {
        font-size: 35pt;
        padding-top: 45px;
    }

    .mobile-fixed .left li {
        padding-top: 0px;
    }


    .mobile-fixed .burger {
        padding-top: 15px;
    }



    .header .text .hollow-btn {
        width: 35% !important;
        font-size: 29pt !important;
        border: 3px solid white;
        z-index: -999 !important;
    }


    .nav .left li {
      font-size: 1.3rem;
      padding-top: 10px;
    }

    .nav {
        padding-top: 1em;
    }



    .mobile-fixed .burger {
      padding-top: 20px;
    }



    #header-iphones {
        height: 250px;
        width: auto;
        position: fixed;
        right: 0;
        bottom: 0;
        margin: 0;
    }


    .inputs h2 {
        font-size: 1.7rem !important;
    }


    .inputs {
        top: 300px;
    }

    .inputs .line-input {
        font-size: 1.4rem !important;
        padding-top: 1em;
        width: 100% !important;
    }


    .controls {
        top: 380px;
        position: fixed;
    }


    .controls .hollow-btn {
        width: 35% !important;
        border: 2px solid white;
        font-size: 1rem !important;
    }


    #null-prompt {
        font-size: 1rem !important;
        margin-top: 2em;
        margin-left: 0 !important;
        width: 100%;
    }

}


@media screen and (min-width: 1800px) {

    .controls {
        top: 450px;
    }


    #header-tiles {
        height: 220vh;
        top: -50vh;
        left: 55vw;
    }

    #header-iphones {
        width: 1200px;

}
