@keyframes pan-in {
    0% {
        visibility: visible;
        opacity: 0;
        position: relative;
        top: 80px;
        left: 20px;
        transform: rotate(-7deg);
        transform: skewY(-10deg);
        transform: skewX(10deg);
        
    }

    100% {
        display: block;
        opacity: 1;
        position: relative;
        top: 0px;
        left: 0px;
        transform: rotate(0deg);
        transform: skewY(0);
        transform: skewX(0deg);
        
        

    }

}


@keyframes scroll-down {
    from {margin-top: 30px; opacity: 0;}
    to {margin-top: 0px; opacity: 1;}
}


@keyframes slide-up {
    0% {
        visibility: visible;
        opacity: 0;
        position: relative;
        top: 30px;
        transform: skewY(-5deg);
        transform: skewX(5deg);
        
    }

    100% {
        opacity: 1;
        position: relative;
        top: 0px;
        transform: skewY(0);
        transform: skewX(0deg);
        
        

    }

}





* {
    margin: 0;
    padding: 0;
    font-family: 'Avenir', sans-serif;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;

  }

  input::-webkit-input-placeholder {
      color: white;
      opacity: 0.2;
  }

  a:link {
    color: white;
  }


  @fontface {
    font-family: 'Avenir';
    src: url("assets/fonts/Avenir.ttc");
  }



  html {
    overflow-x: hidden;
  }

  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }


  * {
    margin: 0;
    padding: 0;
    font-family: 'Avenir';
    line-height: 2;
    -webkit-font-smoothing: antialiased;
}

body {
    overflow-x: hidden;
}


.hollow-btn {
    position: relative;
    max-width: 100px;
    padding: 0.8em 3em;
    text-align: center;
    color: white;
    border: 1px white solid;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.hollow-btn:before {
    content: "";
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
}

.hollow-btn:hover {
    color: #514A9D;
  }

  .hollow-btn:hover:before {
    top: 0;
  }



.container {
    width: 1170px;
    margin: auto;
    height: 100%;
}

p {
    font-size: 11.5pt;
}


a {
    color: white;
    text-decoration: none;
    z-index: 1000 !important;
}

nav {
    padding-top: 3em;
    z-index: 1000 !important;
}


.nav ul li {
    display: inline-block;
    padding-right: 4em;
    z-index: 1000 !important;
}



.header {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(300deg, #00E1FF, #473CC6);
    background-size: 150%;
    z-index: -2;
}


#header-tiles {
    height: 1700px;
    position: relative;
    right: -450px;
    top: -300px;
    z-index: -1;
}


.right {
    position: relative;
    float: right;
    z-index: 100;
}



.left {
    display: inline-block;
    font-weight: 500;
    font-size: 13pt;
}



.ul-links {
    position: relative;
    padding-bottom: 3px;
    
}


.ul-links:hover {
    border-bottom: 1px solid white;


}


.btn {
    background: #30E5D4;
    padding: 0.8em 2.2em;
    border-radius: 3px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.08);
    transition: all 0.2s ease-in-out;
    z-index: 1000 !important;
}


.btn:hover {
    box-shadow: 0px 25px 40px rgba(0,0,0,0.10);
    background: white;
    color: #514A9D;
}



  .form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .form h1 {

    font-size: 28pt;
    font-weight: 400;
    display: inline-block;
    color: white;
    animation: pan-in 2s cubic-bezier(.49,.01,0,1);;
    animation-delay: 0.2s;
  }


  .line-input {
      width: 400px;
      font-size: 30pt;
      font-weight: 500;
      display: inline-block;
      background: none;
      border: none;
      margin-left: 20px;
      color: white;
      animation: pan-in 2s cubic-bezier(.49,.01,0,1);;
      animation-delay: 0.2s;
  }

  .line-input:focus, .line-input:active {
      outline: none;
  }


    .input-services {
        opacity: 0;
        margin-bottom: 1em;
        color: white;
        z-index: 9999;
    }

    input[type=checkbox] {
        visibility: hidden;
    }

    #website:checked + label {
        background: white;
        color: #514A9D;
    }

    #app:checked + label {
        background: white;
        color: #514A9D;
    }

    #app {
        margin-left: -1em;
    }

    label {
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid white;
        padding: 0.8em 2.5em;
        margin-left: 2em;
    }

    #next2 {
        display: none;
    }


    #next3 {
        display: none;
    }

    #next4 {
        display: none;
    }


    .input-budget {
        display: none;
        margin-bottom: 1em;
    }


    .controls {
        
        position: relative;
        top: 100px;
        height: 70px;
    }
    

    #null-prompt {
        color: white;
        font-style: italic;
        display: inline-block;
        margin-left: 2em;
        display: none;
    }

    #unchecked-prompt {
        color: white;
        font-style: italic;
        display: inline-block;
        margin-left: 2em;
        display: none;
    }

    #optional-prompt {
        color: white;
        font-style: italic;
        display: inline-block;
        margin-left: 2em;
        display: none;
    }

    #empty-prompt {
        color: white;
        font-style: italic;
        display: inline-block;
        margin-left: 2em;
        display: none;
    }

    .input-email {
        display: none;
        width: 1200px !important;
        margin-bottom: 1em;
    }

    #email {
        width: 480px;
        margin-bottom: 2em;
    }

    .input-budget {
        display: none;
        margin-bottom: 1em;
    }

    .input-message {
        margin-top: -7em;
        display: none;
    }

    #message {
        margin-left: 0;
        width: 500px;
        display: block;
        font-size: 20pt;
        height: 200px;
        margin-bottom: 1em;
    }

    #next5 {
       display: none;
    }


    .sent {
        width: 1170px;
        display: none;
        height: 500px;
        margin: auto;
    }

    .sent h1 {
        padding-top: 4.4em;
        font-size: 28pt;
        padding-bottom: 1em;
        font-weight: 500;
        color: white;
        animation: panin 1.5s ease-in-out;
      }

      .sent hr {
        width: 7em;
        border: 1px solid white;
        position: relative;
        right: 3em;


      }

      .sent p {
        width: 450px;
        font-size: 11.5pt;
        line-height: 2.4;
        padding-top: 2em;
        color: white;
        animation: panup 1.5s ease-in-out;
        margin-bottom: 2em;
      }



  @keyframes panin {
    0% {position: relative; top: 30px; opacity: 0; transform: rotate(3deg); transform: translateX(20deg);}
    100% {position: relative; top: 0; opacity: 1;}
  }


  @keyframes panout {
      0% {position: relative; top: 0; }
      100% {position: relative; top: -30px; opacity: 0; transform: rotateZ(-3deg);}
  }

  @keyframes panup {
    0% {position: relative; top: 20px; opacity: 0; transform: rotate(-5deg);}
    100% {position: relative; top: 0;}
  }




  @media screen and (max-width: 1000px) {

      body {
        overflow: hidden !important;
      }

      .nav {
        display: none;
      }


      .mobile-nav {
        display: block;
        margin-top: 9em;
        list-style: none;
        display: inline-block;
        width: 100%;
      }

      .burger {
        width: 70px;
        display: inline-block;
        height: 70px;
        float: right;

      }



      #top {
        width: 100%;
        background: white;
        height: 6px;

      }

      #bottom {
        width: 100%;
        background: white;
        margin-top: 2em;
        height: 6px;

      }


      #logo {
        font-size: 40pt;
        position: absolute;
      }



    }


@media screen and (min-width: 1800px) {

    .form {
        top: 30vh;
    }

    #slice {
        right: 0;
    }

    .sent {
      margin-top: 15em;
    }


}
