@keyframes pan-in {
    0% {
        visibility: visible;
        opacity: 0;
        margin-top: 80px;
        margin-left: 20px;
        transform: rotate(-7deg);
        transform: skewY(-10deg);
        transform: skewX(10deg);

    }

    100% {
        display: block;
        opacity: 1;
        margin-top: 0px;
        margin-left: 0px;
        transform: rotate(0deg);
        transform: skewY(0);
        transform: skewX(0deg);



    }

}


@keyframes top-stroke-engage {
    0% {
        transform: rotate(0deg);
        top: 3px;
    }

    100% {
        transform: rotate(45deg);
        top: 1px;
    }
}

@keyframes bottom-stroke-engage {
    0% {
        transform: rotate(0deg);
        top: 0px;
    }

    100% {
        transform: rotate(-45deg);
        top: -1px;
    }
}



@keyframes fade-in {
    0% {opacity: 0; margin-top: 50px;}
    100% {opacity: 1; margin-top: 0px;}
}




@keyframes scroll-down {
    from {margin-top: 30px; opacity: 0;}
    to {margin-top: 0px; opacity: 1;}
}


@keyframes slide-up {
    0% {
        visibility: visible;
        opacity: 0;
        position: relative;
        margin-top: 30px;
        transform: skewY(-5deg);
        transform: skewX(5deg);

    }

    100% {
        opacity: 1;
        position: relative;
        margin-top: 0px;
        transform: skewY(0);
        transform: skewX(0deg);



    }

}




@keyframes slide-from-right {
    0% {
        visibility: visible;
        opacity: 0;
        position: relative;
        margin-top: 100px;
        margin-left: 100px;
        transform: rotate(-7deg);
        transform: skewY(-10deg);
        transform: skewX(10deg);

    }

    100% {
        opacity: 1;
        position: relative;
        margin-top: 0px;
        margin-left: 0px;
        transform: rotate(0deg);
        transform: skewY(0);
        transform: skewX(0deg);



    }

}


@keyframes expand-left-to-right {
    0% {
        width: 0vw;

    }

    100% {
        width: 100vw;
    }

}


@keyframes expand-right-to-left {
    0% {
        display: block;
        left: 100vw;

    }

    100% {
        display: block;
        left: 0vw;
    }

}


@keyframes exit-left-to-right {
    0% {
        left: 0vw;

    }

    100% {
        display: none;
        left: 100vw;
    }

}



@keyframes slideDown {
    0% {
         transform: translateY(-80px);
    }
    100% {
        transform: translateY(0px);
    }
  }


@keyframes slideBackUp {
    0% {
        transform: translateY(0px);
   }
   100% {
       transform: translateY(-80px);
   }
}





.nav-slideDown {
    animation: slideDown .3s cubic-bezier(.49,.01,0,1);
}


.nav-slideBackup {
    animation: slideBackUp .8s ease-out;
}






@font-face {
    font-family: 'Avenir-Medium';
    src: url('Avenir-Medium.ttf')format('truetype');
}


@font-face {
    font-family: 'Avenir-Book';
    src: url('Avenir-Book.ttf')format('truetype');
}


@font-face {
    font-family: 'Avenir-Light';
    src: url('Avenir-Light.ttf')format('truetype');
}



* {
    margin: 0;
    padding: 0;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    overflow-x: hidden;
}




.container {
    width: 1170px;
    margin: auto;
    height: 100%;
}

p {
    font-size: 11.5pt;
}


a {
    color: white;
    text-decoration: none;
    z-index: 1000 !important;
}

nav {
    padding-top: 3em;
    z-index: 1000 !important;
}


.nav ul li {
    display: inline-block;
    padding-right: 4em;
    z-index: 1000 !important;
}


.right {
    position: relative;
    float: right;
    z-index: 100;
}


.ul-links {
    font-family: "Avenir-Light";
}


.btn {
    font-family: "Avenir-Book";
}


.left {
    display: inline-block;
    font-weight: 500;
    font-size: 13pt;
}


.mobile-fixed {
    display: none;
}


.nav-bg {
    position: fixed;
    z-index: 999;
    background: white;
    box-shadow: 0px 4px 6px rgba(0,0,0, 0.08);
    top: 0;
    left: 0;
    width: 100vw;
    height: 5em;
    display: none;
}

.nav-bg ul {
    animation: none;
}


.header-logo {
    width: 25px;
    margin-right: 1em;
    vertical-align: middle;
}





.nav-bg ul li a {
    color: black;

}


.left a {
    font-family: "Avenir-Medium";
}

#logo-text {
    position: relative;
    top: 2px;
    font-weight: 200;
    font-family: "Avenir-Medium";
}

.nav-bg ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}



.mobile-menu {
    display: none;
}

.mobile-menu ul {
    display: none;
}


.header {
    width: 100vw;
    height: 740px;
    background-image: url('assets/images/ourworkbg-bright.jpg');
    background-attachment: fixed;
    background-size: cover;
}


.header .text {
    visibility: hidden;
    position: relative;
    margin: auto;
    top: 200px;
    color: white;
    text-align: center;
    animation: pan-in 2s cubic-bezier(.49,.01,0,1);

}

.header .text h1 {
    margin: auto;
    text-align: center;
    font-size: 28pt;
    font-weight: 500;
    padding-bottom: 0.2em;
    font-family: "Avenir-Medium";
}


.header .text p {
    margin: auto;
    width: 550px;
    line-height: 2;
    padding-top: 1em;
    font-weight: 400;
    font-size: 13pt;
    font-family: "Avenir-Book";

}



#scrolldown {
    visibility: hidden;
    height: 120px;
    position: absolute;
    top: 65%;
    transition: all 0.4s ease-in-out;
}


#scrolldown:hover {
    cursor: pointer;
    margin-top: 1em;
}


.ul-links {
    position: relative;
    padding-bottom: 3px;

}


.ul-links::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    transition: width .3s;
}

.ul-links:hover::after {
    width: 100%;
}


.btn {
    background: #30E5D4;
    padding: 0.8em 2.2em;
    text-align: center;
    border-radius: 3px;
    color: white !important;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.08);
    transition: all 0.4s cubic-bezier(.47,1.64,.41,.8);
    z-index: 1000 !important;
}


.btn:hover {
    box-shadow: 0px 25px 40px rgba(0,0,0,0.10);
    background: white;
    color: #514A9D !important;
}



.text .hollow-btn {
    position: relative;
    display: block;
    margin: auto;
    width: 100px;
    padding: 0.6em 2em;
    margin-top: 3em;
    text-align: center;
    color: white;
    border: 1px white solid;
    overflow:hidden;
    background: none;
    z-index: 1 !important;
    cursor: pointer;
    font-family: "Avenir-Book";
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;

}


.hollow-btn:before {
    content: "";
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
}

.hollow-btn:hover {
    color: #514A9D;
  }

.hollow-btn:hover:before {
top: 0;
}



.v-line-center {
    border: 0.5px solid rgba(0,0,0, 0.2);
    width: 0;
    margin: auto;
}


.quote-text {
    position: relative;
    top: 100px;
    display: block;
    margin: auto;
}


.quote h2 {
    font-family: 'Avenir-Medium';
    font-weight: 100;
    line-height: 2.7;
    font-size: 18pt;
    width: 85%;
    margin: auto;
    padding-bottom: 3em;
    color: #4E4E4E;
    text-align: center;
}


.portfolio {
    margin-top: 200px;
    height: 2680px;
}



.first  {
    display: flex;
    position: relative;
    top: 0px !important;
    height: 780px;
    width: 90vw;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 5em !important;
}


.inuti { 
    background: linear-gradient(45deg, #1F2A31, #323536 200%) !important; 
}

.archicase {
    background: linear-gradient(135deg, #00223E, #FFA17F 110%) !important; 
}


.draipe {
    height: 450px;
    width: 90vw;
    margin: auto;
    display: block;
    margin-top: 400px;
    top: 320px;
}


.draipe .display {
    background: linear-gradient(135deg, #FCA5F1, #B5FFFF) !important;
}



.draipe .showcase {
    width: 100%;
    height: 100%;
    background: #f4f4f4;

}


.showcase h2 {
    font-weight: 500;
    color: #4e4e4e;
    font-size: 22pt;
    padding-bottom: 0.4em;
    text-align: center;
    padding-top: 1.5em;
    font-family: "Avenir-Medium";
}



.showcase p {
    margin: auto;
    font-size: 11.5pt;
    text-align: center;
    width: 600px;
    padding-bottom: 0.5em;
    font-family: "Avenir-Book";
}


.display {
    width: 100%;
    margin-top: 3em;
    height: inherit;
    padding-top: 5em;
} 


.screen-wrapper {
    width: 80%;
    margin: auto;
    height: 370px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

}

.screens {
    width: 210px;
    height: auto;
    box-shadow: 0px 25px 35px rgba(0,0,0,0.16);
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}


.screens:hover {
    transform: scale(1.05);
}


.portfolio-wrapper {
    display: flex;
    position: relative;
    top: 400px;
    height: 780px;
    width: 90vw;
    margin: auto;
    justify-content: space-between;
}


.second {
    top: 480px !important;
}

.pending {
    width: 46.5%;
    height: 450px;
}

.portfolio-wrapper .showcase {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    
}


.portfolio-wrapper .screen-wrapper {
    width: 78%;
    justify-content: space-between;
}


.pending .display {
    width: 100%;
    margin-top: 3em;
    height: inherit;
    background: linear-gradient(60deg ,#5B86E5, #36D1DC);
    padding-top: 5em;
}



.blitz {
    background: linear-gradient(#FFC371, #FF5F6D) !important;
}


.orbit {
    height: 650px;
    width: 90vw;
    margin: auto;
    display: block;
    margin-bottom: 5em;
}



.orbit .showcase {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
}



.orbit .display {
    width: 100%;
    margin-top: 3em;
    height: inherit;
    background: linear-gradient(145deg, #FFD89B, #AF4CAB 150%);
    padding-top: 5em;
}



.nk {
    height: 650px;
    width: 90vw;
    margin: auto;
    display: block;
    margin-bottom: 5em;
    margin-top: 400px;
}



.nk .showcase {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
}



.nk .display {
    width: 100%;
    margin-top: 3em;
    height: 810px;
    background: linear-gradient(145deg, #3C3935, #292521);
    padding-top: 5em;
}

.web-screens {
    width: 960px;
    height: 540px;
    box-shadow: 0px 25px 35px rgba(0,0,0,0.16);
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}


.nk .web-screens {
    width: 950px;
    height: calc(950px * 0.77);
}


.web-screens:hover {
    transform: scale(1.02);
}



.adaptigrow {
    height: 450px;
    width: 90vw;
    margin: auto;
    display: block;
    position: relative;
    top: 790px;
    margin-bottom: 10em !important;
}


.adaptigrow .display {
    background: linear-gradient(275deg, #00C9FF, #92FE9D 120%) !important;
}



.adaptigrow .showcase {
    width: 100%;
    height: 100%;
    background: #f4f4f4;

}




.testimonials {
    height: 470px;
    display: block;
    position: relative;
    top: 2150px;
    margin-bottom: 5em;
}


.testimonial-container {
    background: #F8F8F8;
    width: 90vw;
    margin: auto;
    position: static;
    height: 440px;
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.cd-testimonials-wrapper {
	width: 100%;
    max-width: 100%;
    height: 450px;
	margin: 0 auto;
	background: none;
	-webkit-font-smoothing: antialiased;
    padding-top: 50px !important;
    z-index: 1;
    position: static;

}


a.flex-next, a.flex-prev {
    display: none !important;
}

@media only screen and (min-width: 768px) {
	.cd-testimonials-wrapper {
		padding: 100px 0px 60px;
	}
	
}

.testimonial-content {
	max-width: 1000px;
	width: 80%;
    margin: 0 auto 30px auto;
    
}

.cd-testimonials {
	color: #4e4e4e;
	text-align: center;
	list-style: none;
	padding: 0;
    margin: 0;
}

.cd-testimonials > li {
    opacity: 0;
    position: static;
}

.img-wrapper {
    text-align: center;
    position: relative;
    top: 0px;
    display: block;
    margin: auto !important;
    width: 100%;
    display: flex;
    height: 120px;
    justify-content: center;
}

#quote-marks {
    width: 50px;
    height: 50px;
    
}


.author-name {
    width: 100%;
    height: 50px;
    margin: auto;

}

.quote-pic {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 100vw;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
    margin: auto;
    margin-bottom: 2em;
    background-image: url('assets/images/nikki_russell.jpg');
    background-size: contain;
}

.author-name h2 {
    display: block;
    text-transform: uppercase;
    position: static;
    text-align: center;
    font-family: "Avenir-Medium";
    font-size: 1rem;
    letter-spacing: 0.9px;
    font-weight: 100px;
    

}


.cd-testimonials > li:first-child {
	position: relative;
	opacity: 1;
}

.testimonial-content p {
	line-height: 1.4;
	margin-bottom: 3em;
    padding: 0 14px;
    font-family: "Avenir-Medium" !important;
    font-size: 1.1rem !important;
    font-weight: 500;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media only screen and (min-width: 768px) {
	.testimonial-content p {
		
		font-family: "Avenir-Book";
	}
}

@media only screen and (min-width: 1170px) {
	.testimonial-content p {
		font-size: 24px;
		line-height: 2;
	}
}


.cd-author-info span p {
	display: inline-block;
	font-size: 14px;
	padding-left: 0;
}

.cd-author-info span p a {
	color: rgba(126, 129, 136, 1);
}

.cd-author img,
.cd-author .cd-author-info {
	display: inline-block;
	vertical-align: top;
}

.cd-author img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 5px;
}

.cd-author .cd-author-info {
	text-align: left;
	line-height: 1
}

.cd-author .cd-author-info li:first-child {
	font-size: 14px;
	margin-top: 4px;
}

.cd-author .cd-author-info li:last-child {
	font-size: 12px;
	color: #6b6b70;
}

ul.cd-author-info {
	list-style: none;
}

ul.cd-author-info li span:before {
	font-family: 'FontAwesome';
	content: '\f099';
	font-size: 24px;
	display: inline-block;
	position: absolute;
	margin-top: 2px;
	font-style: normal;
	margin-left: -30px;
}

ul.cd-author-info li span {
	font-size: 14px;
	padding-left: 30px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 300;
}



@media only screen and (min-width: 768px) {
	.cd-author img {
		width: 58px;
		height: 58px;
	}
	.cd-author .cd-author-info {
		line-height: 1.4;
	}
	.cd-author .cd-author-info li:first-child {
		font-size: 18px;
	}
}

@media only screen and (max-width: 320px) {}

.flex-direction-nav a {
	text-decoration: none;
	display: block;
	width: 50px;
	height: 100%;
	margin: 0px 0 0;
	position: absolute;
	z-index: 9999;
	top: 0;
	overflow: hidden;
	opacity: 1;
	background: rgba(245, 245, 245, 1);
	cursor: pointer;
	color: rgba(255, 255, 255, .5);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.flex-direction-nav a:before {
	font-size: 40px;
	content: url('https://dl.dropboxusercontent.com/u/97609687/codepen/chevronleft.svg');
	position: absolute;
	display: block;
	top: 50%;
	padding: 14px 10px 14px 10px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.flex-direction-nav a.flex-next:before {
	content: url('https://dl.dropboxusercontent.com/u/97609687/codepen/chevronright.svg');
	padding: 14px 20px 14px 10px;
}

.flex-direction-nav .flex-prev {
	left: 0px;
}

.flex-direction-nav .flex-next {
	right: 0px;
	text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev {
	opacity: 1;
	left: 0px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
	opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 1;
	right: 0px;
}

.flexslider:hover .flex-direction-nav .flex-next:hover {
	opacity: 1;
}

.flex-direction-nav .flex-disabled {
	opacity: 0!important;
	filter: alpha(opacity=0);
	cursor: default;
}

.flex-control-paging li a {
	width: 10px;
    height: 10px;
    background: rgba(255,255,255,0.5);
    box-sizing: border-box;
    display: block;
    background-image: url('assets/dylan.png') !important;
	cursor: pointer;
	text-indent: -9999px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
	-webkit-border-radius: 100vw;
	-moz-border-radius: 100vw;
    border-radius: 100vw;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.flex-control-paging li a:hover {
    background: rgba(255,255,255,1);
}


.flex-control-paging li a.flex-active {
    background: rgba(255,255,255,1);
    box-shadow: 0px 25px 35px rgba(0,0,0,0.16);
	cursor: pointer;
}

.flex-control-nav {
    bottom: 30px;
	position: absolute;
	margin: 0 auto;
    padding: 0;
    padding-top: 3em;
	text-align: center;
	width: 100%;
}

.flex-control-nav li {
	display: inline-block;
	padding: 0px 5px 0px 5px;
}

@media screen and (max-width: 767px) {
	.flex-direction-nav a {
		width: 30px;
	}
	.flex-direction-nav a:before {
		visibility: hidden;
	}
	.flex-direction-nav a:before {
		padding: 14px 0px 10px 0px;
	}
	.flex-direction-nav .flex-prev {
		left: 0px;
	}
	.flex-direction-nav .flex-next {
		right: 0px;
		text-align: right;
	}
	.flexslider:hover .flex-direction-nav .flex-prev {
		opacity: 1;
		left: 0px;
	}
	.flexslider:hover .flex-direction-nav .flex-prev:hover {
		opacity: 1;
	}
	.flexslider:hover .flex-direction-nav .flex-next {
		opacity: 1;
		right: 0px;
	}
	.flex-direction-nav {
		visibility: hidden;
	}
}




.testimonials .text {
    width: 100%;
    height: auto;
    text-align: center;
}



.testimonials .text h2 {
    text-align: center;
    font-weight: 500;
    color: #4e4e4e;
    font-size: 30px;
    padding-bottom: 2em;
    margin: auto;
    display: block;
    font-family: "Avenir-Medium" !important;
}


/* 
.testimonial-container:hover {
    transform: scale(0.99);
}


.testimonial-container:hover .testimonial-content p {
    transform: scale(1.02);
} */



/* This is the end */





footer {
    width: 100vw;
    position: relative;
    top: 2250px;
    height: 430px;
    overflow: hidden;
    background: linear-gradient(315deg, #3995A2, #514A9D);
}

footer .container {
    display: flex;
    justify-content: space-between;
}


footer .footer-links {
    height: 80%;
    width: 15%;
    position: relative;
    top: 10%;
    display: inline-block;
}


.footer-links li {
    line-height: 5.2;
    list-style: none;
    transition: all 0.2s ease-in-out;
    font-family: "Avenir-Book";
}


.footer-links li:hover {
    padding-left: 0.6em;
}


footer .contact-center {
    position: relative;
    top: 10%;
    width: 70%;
    height: 80%;
}


.contact-center h1 {
    margin: auto;
    text-align: center;
    margin-top: 1.2em;
    font-size: 22pt;
    font-weight: 400;
    color: white;
    font-family: "Avenir-Medium" !important;
}


.contact-center .hollow-btn {
    position: relative;
    width: 150px;
    display: block;
    margin: auto;
    width: 80px;
    padding: 0.6em 2em;
    margin-top: 2em;
    text-align: center;
    color: white;
    border: 1px white solid;
    overflow:hidden;
    background: none;
    z-index: 1 !important;
    font-family: "Avenir-Book" !important;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}


#back-to-top {
    background: #30E5D4;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    border: none;
    display: block;
    margin: auto;
    position: relative;
    top: 70px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.10);
    color: white;
    transition: all 0.2s ease-in-out;
}

#back-to-top:focus {
    outline: none;
}


#back-to-top:hover {
    box-shadow: 0px 25px 35px rgba(0,0,0,0.16);
}

.hollow-btn:before {
    content: "";
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
}

.hollow-btn:hover {
    color: #514A9D;
  }

  .hollow-btn:hover:before {
    top: 0;
  }


footer .social-footer {
    position: relative;
    top: 10%;
    height: 80%;
    width: 15%;
    display: inline-block;
}


.social-footer ul {
    text-align: right;

}

.social-footer li {
    line-height: 5.2;
    list-style: none;
    transition: all 0.2s ease-in-out;
}


.social-footer li:hover {
    padding-right: 0.6em;
}


.footer-info {
    width: 1170px;
    padding-bottom: 1em;
    display: block;
    position: absolute;
    bottom: 0;
    margin: auto;
    text-align: left;
    color: white;
    font-size: 9pt;
    padding-bottom: 2em;
}





/* 
@media screen and (max-width: 700px) {

    .pending { 
        width: 100vw;
        height: 1210px;
        margin-bottom: 380px;
    }


    .first {
        position: static;
        display: block;
        height: auto;
        width: 100vw;
    }

    .pending p {
        width: 100%;
    
    }


    .display .inuti {
        height: 1210px !important; 
    }


    .portfolio-wrapper {
        flex-direction: column;
    }


    .screen-wrapper {
        flex-direction: column !important;
        height: 1150px;
        width: 100%;
    }

    .display .screens {
        width: 300px;
        height: 550px;
    }


    .orbit {
        position: static;
        display: block;
        width: 100vw;
        height: auto;
        margin-bottom: 100px;

    }


    .orbit p {
        width: 90%;
    }


    .orbit .web-screens {
        width: 350px;
        margin: auto;
        height: auto;
    }


    .orbit .display {
        height: 250px;
        margin-top: 50px;
        padding-top: 50px;
    }


    .orbit .screen-wrapper { 
        height: 200px;

    }



    .draipe {
        position: static;
        display: block;
        top: 0;
        margin-top: 0 !important;
        width: 100vw;
        height: 2450px;
        margin-bottom: 350px;

    }


    .draipe p {
        width: 100%;
    }

    .draipe .display {
        padding-top: 50px;
        padding-bottom: 40px;
    }


    .draipe .screen-wrapper {
        flex-direction: column;
        height: 2450px;
        width: 100%;

    }

    .draipe .display .screens {
        width: 300px;
        height: 550px;
        margin: auto;
    }



    
    .nk {
        position: static;
        display: block;
        width: 100vw;
        height: auto;
        margin-bottom: 100px;

    }


    

    .nk p {
        width: 90%;
    }


    .nk .web-screens {
        width: 350px;
        margin: auto;
        height: auto;
    }


    .nk .display {
        height: 320px;
        margin-top: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
    }


    .nk .screen-wrapper { 
        height: 320px;

    }


    .second {
        position: static;
        display: block;
        height: 3100px;
        width: 100vw; 
    }
    

    .portfolio {
        display: block;
        height: auto;
    }


    .testimonials {
        position: static;
        display: block;
        height: auto;
        width: 100vw; 
        top: 0;
    }


} */



@media screen and (max-width: 1300px) {

    .container {
        width: 90%;
    }

    .pending {
        width: 90vw;
        display: block;
        
    }



    .portfolio-wrapper {
        width: 90vw;
        flex-direction: column;
        height: 1250px;
   
    }

    .screen-wrapper {
        flex-direction: row;
        width: 70% !important;
        justify-content: space-around;
    }


    .orbit {
        margin-top: 360px;
        position: static;
        display: block;
    }


    .draipe .screen-wrapper {
        width: 90% !important;
        justify-content: space-between;
    }


    .draipe .screens {
        height: 380px;
    }


    
    .testimonials {
        top: 3700px;
    }


    footer {
        top: 3800px;
    }


}




@media screen and (max-width: 1080px) {
    




 
    .draipe .screens:nth-child(4) {
        display: none;
    }
   

    .web-screens {
        width: 750px;
        height: calc(750px * 0.56);
    }

    .nk .web-screens {
        width: 750px;
        height: calc(750px * 0.77);


    }


    .orbit {
        height: 500px;
    }


    .nk .display {
        height: 670px;
    }


    .nk {
        height: 670px;
        margin-bottom: 0;
    }


    .second { 
        margin-top: -100px;
    }



    .testimonials {
        top: 3380px;
    }


    footer {
        top: 3460px;
    }


    
}






@media screen and (max-width: 667px) {
    
    p {
        font-size: 1rem !important;
    }

    body {
        width: 100vw !important;
        overflow-x: hidden !important;
    }

    .container {
        width: 83vw;
    }

    .desktop-fixed {
        display: none;
    }

    .mobile-fixed {
        display: block;
        z-index: 9999 !important;
    }


    #header-tiles {
        display: none;
    }

    .header-logo {
        width: 25px;
    }




    .nav {
        z-index: 9999 !important;
        width: 100%;
        }

    .nav-bg {
        z-index: 999 !important;
        background: white;
        box-shadow: 0px 7px 9px rgba(0,0,0, 0.14);
        top: 0;
        left: 0;
        width: 100vw;
        height: 80px;
        display: none;
    }

    .nav .burger {
        display: block !important;
        float: right;
        margin-top: 20px;
        width: 35px;
        height: auto;
        z-index: 9999 !important;
    }

    .mobile-menu {
        display: none;
        background:#4C58A4;
        height: 110vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 900 !important;
    }

    .mobile-menu ul {
        display: block;
        font-size: 2rem;
        position: relative;
        top: 45%;
        transform: translateY(-50%);
        padding: 1.5em;
        list-style: none;
    }

    .mobile-menu-bg {
        position: absolute;
        opacity: 0.26;
        height: 200vh;
        top: -40vh;
        left: -60vw;
    }

    .mobile-menu ul li {
        line-height: 4;
        font-weight: 500;
        font-family: "Avenir-Medium" !important;
    }



    #top {
        width: 27px;
        height: 2px;
        background: white;
        right: 0;


    }

    #bot {
        position: relative;
        top: 13px;
        width: 27px;
        height: 2px;
        background: white;


    }


    .header {
        height: 650px;
        background-size: cover;
        
    }


    .nav .right {
        display: none;
    }

    .nav {
        padding-top: 1em;
    }

    .nav .left li {
        font-size: 1.3rem;
        padding-top: 10px;
    }

    


    .mobile-fixed .burger {
        padding-top: 20px;
    }


    .header .text {
        width: 100%;
        position: relative;
        top: 150px;
    }

    .header .text h1 {
        font-size: 1.6rem;
        padding-bottom: 0.5em;
        font-weight: 500;

    }



    .header .text p {
        width: 90%;
        font-size: 1rem;
    }


    .header .text .hollow-btn {
        width: 35% !important;
        font-size: 1rem;
        border: 1.2px solid white;
    }

    #scrolldown {
        display: none;
    }


    .btn {
        margin-top: 0 !important;
        width: 60% !important;
        font-size: 1rem;
    }


    .pending { 
        width: 100vw;
        height: 1210px;
        margin-bottom: 380px;
    }


    .first {
        position: static;
        display: block;
        height: auto;
        width: 100vw;
    }

    .pending p {
        width: 100%;
    
    }


    .display .inuti {
        height: 1210px !important; 
    }


    .portfolio-wrapper {
        flex-direction: column;
    }


    .screen-wrapper {
        flex-direction: column !important;
        align-items: center;
        height: 1150px;
        width: 100%;
    }

    .display .screens {
        width: 300px;
        height: 550px;
    }


    .orbit {
        position: static;
        display: block;
        width: 100vw;
        height: auto;
        margin-bottom: 100px;

    }


    .orbit p {
        width: 90%;
    }


    .orbit .web-screens {
        width: 350px;
        display: block;
        margin: auto;
        height: auto;
        position: absolute;

        
    }


    .orbit .display {
        height: 250px;
        margin-top: 50px;
        padding-top: 50px;
    }


    .orbit .screen-wrapper { 
        height: 200px;
        width: 100%;
        flex-direction: column !important;
        align-items: center !important;

    }



    .draipe {
        position: static;
        display: block;
        top: 0;
        margin-top: 0 !important;
        width: 100vw;
        height: 2450px;
        margin-bottom: 350px;

    }


    .draipe p {
        width: 100%;
    }

    .draipe .display {
        padding-top: 50px;
        padding-bottom: 40px;
    }


    .draipe .screen-wrapper {
        flex-direction: column;
        height: 2450px;
        width: 100%;

    }

    .draipe .display .screens {
        width: 300px;
        height: 550px;
        margin: auto;
    }



    .draipe .screens:nth-child(4) {
        display: block;
    }
   



    
    .nk {
        position: static;
        display: block;
        width: 100vw;
        height: auto;
        margin-bottom: 200px;

    }


    

    .nk p {
        width: 90%;
    }


    .nk .screen-wrapper {
        display: flex;
        justify-content: center !important;
        width: 100%;
    }

    .nk .web-screens {
        width: 350px;
        height: auto;
        
    }


    .nk .display {
        height: 320px;
        margin-top: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
    }


    .nk .screen-wrapper { 
        height: 320px;
        width: 100%;
    }


    .second {
        position: static;
        display: block;
        height: 3100px;
        width: 100vw; 
    }
    

    .portfolio {
        display: block;
        height: auto;
    }


    .testimonials {
        position: static;
        display: block;
        height: auto;
        width: 100vw; 
        top: 0;
    }






    .screens {
        margin: auto;
    }


    .testimonials {
        margin-top: 3em;
    }
    
    .img-wrapper {
        height: auto;
        padding-bottom: 2em;
    }


    .testimonial-container {
        height: 550px;
    }


    .testimonials .text h2 {
        font-size: 1.5rem;
        width: 80%;
    }


    .testimonial-content p {
        width: 95%;
    }


    .contact-center {
        width: 100% !important;
        display: block !important;
        height: 380px !important;
        padding-top: 2em;
    }

    .contact-center h1 {
        font-size: 1.5rem !important;
    }

    .contact-center .hollow-btn {
        width: 35% !important;
        border: 1.5px solid white;
        font-size: 1.2rem !important;
    }

    #back-to-top {
        width: 60px;
        height: 60px;
    }


    #back-to-top img {
        width: 18px;
    }


    .social-footer li img {
        display: inline;
        height: 25px !important;
        width: auto;
    }

    footer {
        height: 520px;
        top: 0px !important;
    }

    footer .container {
        height: auto !important;
        display: block !important;
    }


    .social-footer ul {
        padding-top: 1.5em;
        text-align: center;
        display: flex;
        justify-content: space-around;
        height: 40px;
    }



    .footer-links {
        display: none !important;
    }

    .social-footer {
        top: 0 !important;
        display: block !important;
        justify-content: space-between;
        width: 100% !important;

    }


}



@media screen and (min-width: 1600px) {

    .header {
        height: 900px !important;
    }


    #scrolldown {
        top: 650px;
    }


    .portfolio-wrapper .screen-wrapper {
        width: 80% !important;
    }
}





@media screen and (min-width: 1800px) {
    
    
        .header .text {
            position: relative;
            top: 28vh;
            color: white;
    
        }
    
        .header {
            height: 1200px;
        }
    
    
    
    
        #header-tiles {
            height: 2500px;
            right: -600px;
            top: -490px;
            z-index: 0;
    
        }


        .portfolio {
            height: 3000px;
        }


        .quote-text {
            position: relative;
            top: 100px;
            display: block;
            margin: auto;
        }


        .draipe {
            height: 620px;
        }


        
        .display {
            width: 100%;
            margin-top: 3em;
            height: inherit;
            padding-top: 5em;
        }


        .screen-wrapper {
            width: 80%;
            margin: auto;
            height: 550px;
            display: flex;
        }


        .screens {
            width: 300px;
            height: 550px;
            
        }


        .portfolio-wrapper {
            height: 960px;
        }


        .pending {
            width: 48.5%;
            height: 620px;
        }


        .portfolio-wrapper .screen-wrapper {
            width: 50%;
        }


        .testimonials {
            top: 2350px;
        }


        footer {
            top: 2450px;
        }

    }
    




