@keyframes pan-in {
    0% {
        visibility: visible;
        opacity: 0;
        margin-top: 80px;
        margin-left: 20px;
        transform: rotate(-7deg);
        transform: skewY(-10deg);
        transform: skewX(10deg);

    }

    100% {
        display: block;
        opacity: 1;
        margin-top: 0px;
        margin-left: 0px;
        transform: rotate(0deg);
        transform: skewY(0);
        transform: skewX(0deg);



    }

}


@keyframes top-stroke-engage {
    0% {
        transform: rotate(0deg);
        top: 3px;
    }

    100% {
        transform: rotate(45deg);
        top: 1px;
    }
}

@keyframes bottom-stroke-engage {
    0% {
        transform: rotate(0deg);
        top: 0px;
    }

    100% {
        transform: rotate(-45deg);
        top: -1px;
    }
}



@keyframes fade-in {
    0% {opacity: 0; margin-top: 50px;}
    100% {opacity: 1; margin-top: 0px;}
}




@keyframes scroll-down {
    from {margin-top: 30px; opacity: 0;}
    to {margin-top: 0px; opacity: 1;}
}


@keyframes slide-up {
    0% {
        visibility: visible;
        opacity: 0;
        position: relative;
        margin-top: 30px;
        transform: skewY(-5deg);
        transform: skewX(5deg);

    }

    100% {
        opacity: 1;
        position: relative;
        margin-top: 0px;
        transform: skewY(0);
        transform: skewX(0deg);



    }

}




@keyframes slide-from-right {
    0% {
        visibility: visible;
        opacity: 0;
        position: relative;
        margin-top: 100px;
        margin-left: 100px;
        transform: rotate(-7deg);
        transform: skewY(-10deg);
        transform: skewX(10deg);

    }

    100% {
        opacity: 1;
        position: relative;
        margin-top: 0px;
        margin-left: 0px;
        transform: rotate(0deg);
        transform: skewY(0);
        transform: skewX(0deg);



    }

}


@keyframes expand-left-to-right {
    0% {
        width: 0vw;

    }

    100% {
        width: 100vw;
    }

}


@keyframes expand-right-to-left {
    0% {
        display: block;
        left: 100vw;

    }

    100% {
        display: block;
        left: 0vw;
    }

}


@keyframes exit-left-to-right {
    0% {
        left: 0vw;

    }

    100% {
        display: none;
        left: 100vw;
    }

}



@keyframes slideDown {
    0% {
         transform: translateY(-80px);
    }
    100% {
        transform: translateY(0px);
    }
  }


@keyframes slideBackUp {
    0% {
        transform: translateY(0px);
   }
   100% {
       transform: translateY(-80px);
   }
}





.nav-slideDown {
    animation: slideDown .3s cubic-bezier(.49,.01,0,1);
}


.nav-slideBackup {
    animation: slideBackUp .8s ease-out;
}






@font-face {
    font-family: 'Avenir-Medium';
    src: url('Avenir-Medium.ttf')format('truetype');
}


@font-face {
    font-family: 'Avenir-Book';
    src: url('Avenir-Book.ttf')format('truetype');
}


@font-face {
    font-family: 'Avenir-Light';
    src: url('Avenir-Light.ttf')format('truetype');
}



* {
    margin: 0;
    padding: 0;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    overflow-x: hidden;
}




.container {
    width: 1170px;
    margin: auto;
    height: 100%;
}

p {
    font-size: 11.5pt;
}


a {
    color: white;
    text-decoration: none;
    z-index: 1000 !important;
}

nav {
    padding-top: 3em;
    z-index: 1000 !important;
}


.nav ul li {
    display: inline-block;
    padding-right: 4em;
    z-index: 1000 !important;
}


.right {
    position: relative;
    float: right;
    z-index: 100;
}


.ul-links {
    font-family: "Avenir-Light";
}


.btn {
    font-family: "Avenir-Book";
}


.left {
    display: inline-block;
    font-weight: 500;
    font-size: 13pt;
}


.mobile-fixed {
    display: none;
}


.nav-bg {
    position: fixed;
    z-index: 999;
    background: white;
    box-shadow: 0px 4px 6px rgba(0,0,0, 0.08);
    top: 0;
    left: 0;
    width: 100vw;
    height: 5em;
    display: none;
}

.nav-bg ul {
    animation: none;
}


.header-logo {
    width: 25px;
    margin-right: 1em;
    vertical-align: middle;
}





.nav-bg ul li a {
    color: black;

}


.left a {
    font-family: "Avenir-Medium";
}

#logo-text {
    position: relative;
    top: 2px;
    font-weight: 200;
    font-family: "Avenir-Medium";
}

.nav-bg ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}



.mobile-menu {
    display: none;
}

.mobile-menu ul {
    display: none;
}


.header {
    width: 100vw;
    height: 740px;
    background-image: url('assets/images/ourworkbg.jpg');
    background-attachment: fixed;
    background-size: cover;
}


.header .text {
    visibility: hidden;
    position: relative;
    margin: auto;
    top: 200px;
    color: white;
    text-align: center;
    animation: pan-in 2s cubic-bezier(.49,.01,0,1);

}

.header .text h1 {
    margin: auto;
    text-align: center;
    font-size: 28pt;
    font-weight: 500;
    padding-bottom: 0.2em;
    font-family: "Avenir-Medium";
}


.header .text p {
    margin: auto;
    width: 550px;
    line-height: 2;
    padding-top: 1em;
    font-weight: 400;
    font-size: 13pt;
    font-family: "Avenir-Book";

}



#scrolldown {
    visibility: hidden;
    height: 120px;
    position: absolute;
    top: 65%;
    transition: all 0.4s ease-in-out;
}


#scrolldown:hover {
    cursor: pointer;
    margin-top: 1em;
}


.ul-links {
    position: relative;
    padding-bottom: 3px;

}


.ul-links:hover {
    border-bottom: 1px solid white;


}


.btn {
    background: #30E5D4;
    padding: 0.8em 2.2em;
    text-align: center;
    border-radius: 3px;
    color: white !important;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.08);
    transition: all 0.4s cubic-bezier(.47,1.64,.41,.8);
    z-index: 1000 !important;
}


.btn:hover {
    box-shadow: 0px 25px 40px rgba(0,0,0,0.10);
    background: white;
    color: #514A9D !important;
}



.text .hollow-btn {
    position: relative;
    display: block;
    margin: auto;
    width: 100px;
    padding: 0.6em 2em;
    margin-top: 3em;
    text-align: center;
    color: white;
    border: 1px white solid;
    overflow:hidden;
    background: none;
    z-index: 1 !important;
    cursor: pointer;
    font-family: "Avenir-Book";
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;

}


.hollow-btn:before {
    content: "";
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
}

.hollow-btn:hover {
    color: #514A9D;
  }

.hollow-btn:hover:before {
top: 0;
}



.v-line-center {
    border: 0.5px solid rgba(0,0,0, 0.2);
    width: 0;
    margin: auto;
}


.quote-text {
    position: relative;
    top: 100px;
    display: block;
    margin: auto;
}


.quote h2 {
    font-family: 'Avenir-Medium';
    font-weight: 100;
    line-height: 2.7;
    font-size: 18pt;
    width: 85%;
    margin: auto;
    padding-bottom: 3em;
    color: #4E4E4E;
    text-align: center;
}


.portfolio {
    margin-top: 200px;
    height: 2680px;
}



.ordito {
    height: 450px;
    width: 90vw;
    margin: auto;
    display: block;
}



.ordito .showcase {
    width: 100%;
    height: 100%;
    background: #f4f4f4;

}


.showcase h2 {
    font-weight: 500;
    color: #4e4e4e;
    font-size: 22pt;
    padding-bottom: 0.4em;
    text-align: center;
    padding-top: 1.5em;
    font-family: "Avenir-Medium";
}



.showcase p {
    margin: auto;
    font-size: 11.5pt;
    text-align: center;
    width: 600px;
    padding-bottom: 0.5em;
    font-family: "Avenir-Book";
}


.ordito .display {
    width: 100%;
    margin-top: 3em;
    height: inherit;
    background: linear-gradient(145deg, #355C7D, #AF4CAB);
    padding-top: 5em;
}


.screen-wrapper {
    width: 80%;
    margin: auto;
    height: 370px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

}

.screens {
    width: 210px;
    height: auto;
    box-shadow: 0px 25px 35px rgba(0,0,0,0.16);
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}


.screens:hover {
    transform: scale(1.05);
}


.portfolio-wrapper {
    display: flex;
    position: relative;
    top: 400px;
    height: 780px;
    width: 90vw;
    margin: auto;
    justify-content: space-between;
}


.pending {
    width: 46.5%;
    height: 450px;
}

.portfolio-wrapper .showcase {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    
}


.portfolio-wrapper .screen-wrapper {
    width: 78%;
    justify-content: space-between;
}


.pending .display {
    width: 100%;
    margin-top: 3em;
    height: inherit;
    background: linear-gradient(360deg ,#1298FA, #981FFF);
    padding-top: 5em;
}



.blitz {
    background: linear-gradient(#FFC371, #FF5F6D) !important;
}


.orbit {
    height: 650px;
    width: 90vw;
    margin: auto;
    display: block;
    position: relative;
    top: 480px;
    margin-bottom: 10em;
}



.orbit .showcase {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
}



.orbit .display {
    width: 100%;
    margin-top: 3em;
    height: inherit;
    background: linear-gradient(145deg, #FFD89B, #AF4CAB 150%);
    padding-top: 5em;
}


.web-screens {
    width: 1000px;
    height: 570px;
    box-shadow: 0px 25px 35px rgba(0,0,0,0.16);
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}


.web-screens:hover {
    transform: scale(1.02);
}







@media screen and (max-width: 667px) {
    
            p {
                font-size: 1rem !important;
            }
    
            body {
                width: 100vw !important;
                overflow-x: hidden !important;
            }
    
            .container {
                width: 83vw;
            }
    
            .desktop-fixed {
                display: none;
            }
    
            .mobile-fixed {
                display: block;
                z-index: 9999 !important;
            }
    
    
            #header-tiles {
                display: none;
            }
    
            .header-logo {
                width: 25px;
            }
    
    
    
    
            .nav {
                z-index: 9999 !important;
                width: 100%;
             }
    
            .nav-bg {
                z-index: 999 !important;
                background: white;
                box-shadow: 0px 7px 9px rgba(0,0,0, 0.14);
                top: 0;
                left: 0;
                width: 100vw;
                height: 80px;
                display: none;
            }
    
            .nav .burger {
              display: block !important;
              float: right;
              margin-top: 20px;
              width: 35px;
              height: auto;
              z-index: 9999 !important;
            }
    
            .mobile-menu {
                display: none;
                background:#4C58A4;
                height: 110vh;
                width: 100vw;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 900 !important;
            }
    
            .mobile-menu ul {
              display: block;
              font-size: 2rem;
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              padding: 1.5em;
              list-style: none;
            }
    
            .mobile-menu-bg {
                position: absolute;
                opacity: 0.26;
                height: 200vh;
                top: -40vh;
                left: -60vw;
            }
    
            .mobile-menu ul li {
                line-height: 4;
                font-weight: 500;
                font-family: "Avenir-Medium" !important;
            }
    
    
    
            #top {
                width: 27px;
                height: 2px;
                background: white;
                right: 0;
    
    
            }
    
            #bot {
                position: relative;
                top: 13px;
                width: 27px;
                height: 2px;
                background: white;
    
    
            }
    
    
            .header {
                height: 650px;
            }
    
    
            .nav .right {
                display: none;
            }
    
            .nav {
                padding-top: 1em;
            }
    
            .nav .left li {
              font-size: 1.3rem;
              padding-top: 10px;
            }
    
            .mobile-fixed .left li {
    
            }
    
    
            .mobile-fixed .burger {
                padding-top: 20px;
            }
    
    
            .header .text {
                width: 100%;
                position: relative;
                top: 150px;
            }
    
            .header .text h1 {
              font-size: 1.6rem;
              padding-bottom: 0.5em;
              font-weight: 500;
    
            }
    
    
    
            .header .text p {
                width: 90%;
                font-size: 1rem;
            }
    
    
            .header .text .hollow-btn {
                width: 35% !important;
                font-size: 1rem;
                border: 1.2px solid white;
            }
    
            #scrolldown {
                display: none;
            }
    
    
            .btn {
                margin-top: 0 !important;
                width: 60% !important;
                font-size: 1rem;
            }



}







@media screen and (min-width: 1800px) {
    
    
        .header .text {
            position: relative;
            top: 28vh;
            color: white;
    
        }
    
        .header {
            height: 1200px;
        }
    
    
    
    
        #header-tiles {
            height: 2500px;
            right: -600px;
            top: -490px;
            z-index: 0;
    
        }


        .portfolio {
            height: 3000px;
        }


        .quote-text {
            position: relative;
            top: 100px;
            display: block;
            margin: auto;
        }


        .ordito {
            height: 620px;
        }

        
        .display {
            width: 100%;
            margin-top: 3em;
            height: inherit;
            background: linear-gradient(145deg, #355C7D, #AF4CAB);
            padding-top: 5em;
        }


        .screen-wrapper {
            width: 50%;
            margin: auto;
            height: 550px;
            display: flex;
            justify-content: space-around;

        }

        .screens {
            width: 300px;
            height: auto;
            
        }


        .portfolio-wrapper {
            height: 960px;
        }


        .pending {
            width: 48.5%;
            height: 620px;
        }


        .portfolio-wrapper .screen-wrapper {
            width: 50%;
        }


    }
    




